@import '../../../styles'

.my-btn-wrapper
  @extend .d-flex, .justify-content-center
  position: absolute
  top: 50% 
  right: 50%
  transform: translate(50%,-50%)

.my-rounded-btn
  @extend .btn, .fw-bolder, .my-bgc1, .my-tc
  padding: 5rem 5rem 5rem 5rem
  border-radius: 100%
  font-size: 10rem
  line-height: 160px
  &:hover
    background-color: $primary-color