/* You can add global styles to this file, and also import other style files */

@import "./app/shared/variables"

@import "../node_modules/bootstrap/scss/bootstrap"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss"

@import 'ngx-toastr/toastr'

body
  background-color: $background-color

.wrapper
  margin-left: auto
  margin-right: auto

  max-width: 1080px

  padding-right: 10px
  padding-left: 10px

.my-bgc
  background-color: $background-color

.my-bgc1
  background-color: $primary-color

.my-bgc2
  background-color: $secondary-color

.my-tc
  color: $text-color

.my-btn1
  @extend .btn, .rounded-5, .fs-5, .fw-bolder, .ps-4, .pe-4, .my-bgc1, .my-tc
  &:hover
    background-color: $primary-color

.my-btn2
  @extend .btn, .rounded-5, .fs-5, .fw-bolder, .ps-4, .pe-4, .my-bgc2, .my-tc
  &:hover
    background-color: $secondary-color